body {
    background-color:azure;
    padding-top: 80px;
}

  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }

div.card{
  background-color:rgb(173, 203, 204);
  align-self: center;
}

div.modal-content{
  background-color:rgb(118, 181, 211);
}
p.head-pagamento {
  font-size: 24px;
  font-weight: bold;
}

.btn {
  cursor: pointer;
}

img.imgProd {
  width: 200px;
  height: 200px;
}
